!!!
%html(lang="en")
  %head
    %title= t "title"

    %meta{name: "description", content: t("description") }
    %meta{name: "keywords", content: t("keywords") }

    = stylesheet_link_tag "application", media: "all"

    = csrf_meta_tags
    = csp_meta_tag

  %body(ng-app="anystyle")
    = yield

    = angular_template 'anystyle/parser'
    = angular_template '/template/pagination/pagination.html', partial: 'anystyle/pagination'

    = javascript_include_tag "application", async: true #Rails.env.inquiry.production?
